<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>openssl-ios</string>
	<key>build</key>
	<dict>
		<key>location</key>
		<dict>
			<key>type</key>
			<string>github</string>
			<key>path</key>
			<string>openssl/openssl</string>
			<key>branch</key>
			<string>master</string>
		</dict>
		<key>buildSystem</key>
		<string>make</string>
		<key>buildArgs</key>
		<array>
			<string>--config=$#PKGROOT#/Configurations/openssl-ios.conf</string>
			<string>no-shared</string>
			<string>no-gost</string>
			<string>no-asm</string>
		</array>
		<key>buildArchSpecificArgs</key>
		<dict>
			<key>iphoneos</key>
			<dict>
				<key>armv7</key>
				<array>
					<string>ios-arm32-cross</string>
				</array>
				<key>armv7s</key>
				<array>
					<string>ios-arm32-cross</string>
				</array>
				<key>arm64</key>
				<array>
					<string>ios-arm64-cross</string>
				</array>
			</dict>
			<key>iphonesimulator</key>
			<dict>
				<key>i386</key>
				<array>
					<string>ios-sim32-cross</string>
				</array>
				<key>x86_64</key>
				<array>
					<string>ios-sim64-cross</string>
				</array>
			</dict>
		</dict>
		<key>installCommand</key>
		<string>install_sw</string>
		<key>outputs</key>
		<array>
			<string>lib/libssl.a</string>
			<string>lib/libcrypto.a</string>
		</array>
		<key>auxiliaryFiles</key>
		<dict>
			<key>Framework/module.static.modulemap</key>
			<string>include/module.modulemap</string>
		</dict>
	</dict>
	<key>dependencies</key>
	<array/>
</dict>
</plist>
